[Unit]
Description=AXP288 Daemon

[Service]
ExecStart=/opt/axpd.sh
Restart=always
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
